Package: com.jst9n.i7walls
Name: iPhone 7 wallpapers
Conflicts: livewallpapers6plus, livewallpapers
Depends: 
Architecture: iphoneos-arm
Description: Complete archive of "Live" wallpapers available only for the iPhone 6s/6s+ and above
Maintainer: jst9n <jst9n@outlook.com>
Author: jst9n <jst9n@outlook.com>
Section: System
Tag: role::developer
Version: 1.1

